html {
  background: #000000;
  color: white;
}

header {
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: start;
  gap: 15px;
  align-items: center;
  padding: 0px 80px;
  background: #e82020;
  position: fixed;
}

button {
  height: 44px;
  font-size: 22px;
  padding: 0px 12px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #e12525;
  border-radius: 25px;
  min-width: 125px;
}

.page {
  width: calc(100vw - 520px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.movie-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.movie-card img {
  width: 80%;
}
main {
  display: flex;
  flex-direction: row;
}

.watchlist {
  background-color: rgb(0, 0, 0);
  width: 500px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  position: fixed;
  top: 70px;
  right: 0;
  text-align: center;
  border-style: solid;
}

#instr {
  margin-top: 0;
  margin-bottom: 3rem;
  padding-top: 0;
}
